/*IMPORTS*/
/*ESTILOS DE FUENTES*/
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
/*LLAMADOS A LAS FUENTES
    font-family: 'Oswald', sans-serif;
    font-family: "Barlow Condensed", sans-serif;
*/
/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*CONFIG PRINCIPAL*/
#body {
  background-color: black;
}

li, a {
  list-style: none;
  text-decoration: none;
  color: black;
}

/*MIXINS NAVBAR*/
/*ESTILOS DEL HEADER Y DEL NAV*/
#header {
  position: sticky;
  top: 0;
  z-index: 100;
}
#header .navbar {
  background-color: #1c389b;
  display: flex;
  align-items: center;
  padding: 0 40px;
}
#header .navbar__Golden {
  width: auto;
  height: 70px;
  padding: 0 20px;
}
#header .navbar__nba {
  width: auto;
  height: 70px;
  padding: 0 20px;
}

#navbarNav .nav-link {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: white;
  flex-direction: row;
  margin-left: 30px;
}
#navbarNav .nav-item :hover {
  color: #e4c145;
}

/*MIXINS INDEX*/
/*ESTILO DEL MAIN*/
#main {
  width: auto;
  height: auto;
}

/*ESTILO INDEX*/
#imagenPortada .goldenIndex {
  background-image: url(../images/index/plano-lejano-vista-ciudad-san-francisco-noche.jpg);
  background-position: center;
  background-attachment: local;
  background-size: cover;
  height: 500px;
}
#imagenPortada .goldenIndex__video {
  width: 100%;
  height: 500px;
}

/*INDEX INSEASON TOURNAMENT*/
#bannerInseason {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  margin-top: 100px;
  border-style: solid;
  border-color: #e4c145;
}
#bannerInseason .bannerInseason__body {
  display: inline-block;
  align-items: center;
  justify-content: center;
  height: 400px;
  padding: 50px;
}
#bannerInseason .bannerInseason__logo {
  width: 700px;
  height: 200px;
  align-items: center;
  border-color: #e4c145;
  border-style: solid;
}
#bannerInseason .bannerInseason__title {
  font-family: "Oswald", sans-serif;
  font-size: 35px;
  text-align: center;
  color: white;
  margin-top: 10px;
}
#bannerInseason .bannerInseason__text {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 20px;
  text-align: center;
  color: white;
  margin-bottom: 15px;
}
#bannerInseason .bannerInseaon-grupos__img {
  width: 400px;
  height: 450px;
}

/*INDEX ALL STAR GAME 2025*/
#bannerAllstar {
  margin: 20px;
  margin-top: 60px;
  margin-bottom: 50px;
  border-style: solid;
  border-color: #e4c145;
  display: flex;
  align-items: center;
}
#bannerAllstar .bannerAllstar__title {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 35px;
  color: white;
}
#bannerAllstar .bannerAllstar__text {
  text-align: center;
  margin: 20px;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 25px;
  color: white;
}
#bannerAllstar .bannerAllstar-logo__img {
  width: 500px;
  height: 450px;
}

/*INDEX CALENDARIO*/
#carouselExampleIndicators .carousel-inner {
  width: 900px;
  padding: 20px;
  margin-left: 14%;
  margin-bottom: 40px;
}
#carouselExampleIndicators .carouselCalendario__title {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #e4c145;
}

/*MIXINS CARDS INDEX*/
/*INDEX TARJETAS*/
#bannerPages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px;
  margin-top: 100px;
}
#bannerPages .bannerPages__body {
  background-color: #e4c145;
  width: 270px;
  padding: 20px;
  border-color: black;
  border-style: solid;
  margin-right: 5px;
  margin-top: 0;
}
#bannerPages .bannerPages__img {
  width: 250px;
  height: 320px;
  margin: 8px;
  margin-bottom: 0px;
}
#bannerPages .bannerPages__titulo {
  font-family: "Oswald", sans-serif;
  font-size: 25px;
  color: black;
  font-weight: 1000;
  text-align: center;
}
#bannerPages .bannerPages__text {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 18px;
  color: black;
  font-weight: bold;
}

.btn-primary {
  background-color: #1c389b;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 18px;
  font-weight: bold;
  border-color: black;
  border-radius: 10px;
}

/*MIXIN HISTORIA*/
/*ESTILO HISTORIA*/
#historiaLogos {
  display: inline-block;
  align-items: center;
  justify-content: center;
}
#historiaLogos .historiaLogos__h1 {
  text-align: center;
  padding: 15px;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  color: black;
  background-color: #e4c145;
  border-color: black;
  border-style: solid;
  margin: 0 400px;
  margin-top: 20px;
  margin-bottom: 40px;
}
#historiaLogos .historiaLogos__p {
  margin: 40px;
  text-align: center;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 30px;
  color: white;
}

/*HISTORIA IMAGENES*/
#historiaImagenes {
  display: flex;
  justify-content: center;
  width: auto;
  height: 350px;
  padding: 20px;
  margin-bottom: 70px;
}

/*HISTORIA ACTUALIDAD*/
#historiaActualidad {
  display: inline-block;
  align-items: center;
  justify-content: center;
}
#historiaActualidad .historiaActualidad__h1 {
  text-align: center;
  padding: 20px;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  color: black;
  background-color: #e4c145;
  border-color: black;
  border-style: solid;
  margin: 0 400px;
  margin-top: 20px;
  margin-bottom: 40px;
}
#historiaActualidad .historiaActualidad__p {
  margin: 40px;
  text-align: center;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 30px;
  color: white;
}

/*MIXINS ACORDIONES*/
/*ACORDION LOGOS*/
#acordionLogos {
  margin: 40px;
}
#acordionLogos .accordionTitle {
  text-align: center;
  padding: 20px;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  color: black;
  background-color: #e4c145;
  border-color: black;
  border-style: solid;
  margin: 0 400px;
  margin-top: 20px;
  margin-bottom: 40px;
}
#acordionLogos .accordion-button {
  font-weight: bold;
  font-size: 25px;
  color: black;
  font-family: "Oswald", sans-serif;
  background-color: #e4c145;
}
#acordionLogos .accordioExample__img {
  width: auto;
  height: 250px;
  padding: 30px;
}
#acordionLogos .accordion-body {
  background-color: black;
  display: flex;
  justify-content: center;
}
#acordionLogos .accordionLogo__img1 {
  border-radius: 50%;
}
#acordionLogos .accordionLogo__img2 {
  border-radius: 50%;
}
#acordionLogos .accordionLogo__explicacion {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 25px;
  text-align: center;
  color: white;
  padding: 30px;
}

#acordionCampeonatos {
  margin: 40px;
}
#acordionCampeonatos .accordionCampeonato__title {
  text-align: center;
  padding: 20px;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  color: black;
  background-color: #e4c145;
  border-color: black;
  border-style: solid;
  margin: 0 400px;
  margin-top: 20px;
  margin-bottom: 40px;
}
#acordionCampeonatos .accordion-button {
  font-weight: bold;
  font-size: 25px;
  color: black;
  font-family: "Oswald", sans-serif;
  background-color: #e4c145;
}
#acordionCampeonatos .accordioExample__img {
  width: auto;
  height: 250px;
  padding: 30px;
}
#acordionCampeonatos .accordion-body {
  background-color: black;
  display: flex;
  justify-content: center;
}
#acordionCampeonatos .accordionCampeonato__explicacion {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 25px;
  text-align: center;
  color: white;
  padding: 30px;
}

/*MIXINS FOOTER*/
/*FOOTER*/
#footerBanner {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  background-color: #1c389b;
  justify-content: space-between;
}
#footerBanner .footerBanner-logo__img {
  width: 120px;
  height: 70px;
}
#footerBanner .footerBanner__fan {
  width: 200px;
  height: 50px;
  background-color: #e4c145;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  border-style: solid;
  border-color: black;
  border-radius: 100px;
  text-align: center;
  align-items: center;
  padding: 10px;
}
#footerBanner .footerBanner__redes {
  display: flex;
  align-items: center;
  margin-left: 20px;
  color: white;
  padding: 20px;
}
#footerBanner .fa-brands {
  padding: 5px;
}

/*MIXINS CARDS HISTORIA*/
/*LIDERES HISTORICOS*/
#lideresHistoricos .lideresHistoricos__h1 {
  text-align: center;
  padding: 15px;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  color: black;
  background-color: #e4c145;
  border-color: black;
  border-style: solid;
  margin: 0 400px;
  margin-top: 60px;
  margin-bottom: 50px;
}

#lideres__cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
#lideres__cards .card {
  background-color: black;
  border-color: #e4c145;
  border-style: solid;
  border-width: 1px;
}
#lideres__cards .list-group-item {
  background-color: black;
  border-color: #e4c145;
  border-style: solid;
  border-width: 1px;
}
#lideres__cards .card-title {
  font-family: "Oswald", sans-serif;
  font-size: 25px;
  text-align: center;
  color: white;
  font-weight: bold;
}
#lideres__cards .card-text {
  font-family: "Oswald", sans-serif;
  font-size: 25px;
  text-align: center;
  color: white;
}
#lideres__cards .list-group-item {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 20px;
  color: white;
  font-weight: bold;
}

/*Pagina en desarrollo*/
.bannerPaginanueva {
  height: 445px;
  background-color: black;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: white;
  padding: 30px;
}

.progress {
  margin: 20px;
}



/*# sourceMappingURL=style.css.map */
