/*MIXINS CARDS HISTORIA*/

@mixin sizes ($width , $height) {
    width: $width;
    height: $height;
}

@mixin cards-design {
    background-color: black;
    border-color: #e4c145;
    border-style: solid;
    border-width: 1px;
}

@mixin cards-title {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
}

@mixin cards-body {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 20px;
}

/*LIDERES HISTORICOS*/

#lideresHistoricos {

    .lideresHistoricos__h1 {
        text-align: center;
        padding: 15px;
        font-family: 'Oswald', sans-serif;
        font-weight: bold;
        color: black;
        background-color: #e4c145;
        border-color: black;
        border-style: solid;
        margin: 0 400px;
        margin-top: 60px;
        margin-bottom: 50px;
    }
}


#lideres__cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 30px;

    .card {
        @include cards-design;
    }

    .list-group-item {
        @include cards-design;
    }

    .card-title {
        @include cards-title;
        text-align: center;
        color: white;
        font-weight: bold;
    }

    .card-text {
        @include cards-title;
        text-align: center;
        color: white;
    }

    .list-group-item {
        @include cards-body;
        color: white;
        font-weight: bold;
    }
}