/*MIXINS INDEX*/
@mixin sizes ($width , $height) {
  width: $width;
  height: $height;
}

/*ESTILO DEL MAIN*/

#main {
    @include sizes(auto , auto)
}

/*ESTILO INDEX*/

#imagenPortada {
    .goldenIndex {
        background-image: url(../images/index/plano-lejano-vista-ciudad-san-francisco-noche.jpg);
        background-position: center;
        background-attachment:local;
        background-size: cover;
        height: 500px;
    }

    .goldenIndex__video {
        @include sizes(100% , 500px);
    }
}

  /*INDEX INSEASON TOURNAMENT*/

  #bannerInseason {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    margin-top: 100px;
    border-style: solid;
    border-color: #e4c145;

    .bannerInseason__body{
        display: inline-block;
        align-items: center;
        justify-content: center;
        height: 400px;
        padding: 50px;
    }

    .bannerInseason__logo {
        width: 700px;
        height: 200px;
        align-items: center;
        border-color: #e4c145;
        border-style: solid;
    }

    .bannerInseason__title{
        font-family: 'Oswald', sans-serif;
        font-size: 35px;
        text-align: center;
        color: white;
        margin-top: 10px;
    }

    .bannerInseason__text {
        font-family:"Barlow Condensed", sans-serif;
        font-size: 20px;
        text-align: center;
        color: white;
        margin-bottom: 15px;
    }

    .bannerInseaon-grupos__img {
        @include sizes(400px , 450px);
    }
  }

  /*INDEX ALL STAR GAME 2025*/
  
  #bannerAllstar {
    margin: 20px;
    margin-top: 60px;
    margin-bottom: 50px;
    border-style: solid;
    border-color: #e4c145;
    display: flex;
    align-items: center;

    .bannerAllstar__title {
        text-align: center;
        font-family: 'Oswald', sans-serif;
        font-size: 35px;
        color: white;
    }

    .bannerAllstar__text{
      text-align: center;
      margin: 20px;
      font-family: "Barlow Condensed", sans-serif;
      font-size: 25px;
      color: white;
    }

  .bannerAllstar-logo__img{
    @include sizes(500px , 450px);
  }
}

  /*INDEX CALENDARIO*/
#carouselExampleIndicators {
    .carousel-inner {
      width: 900px;
      padding: 20px;
      margin-left: 14%;
      margin-bottom: 40px;
  }

    .carouselCalendario__title {
      text-align: center;
      font-family: 'Oswald', sans-serif;
      font-size: 40px;
      font-weight: bold ;
      color: #e4c145;
  }
}  