/*MIXINS MEDIA QUERIES*/
@mixin sizes ($width , $height) {
    width: $width;
    height: $height;
}

@mixin h1_320px {
    font-size: 20px;
    margin: 20px 50px;
    padding: 5px;
}

@mixin h1_480px {
    font-size: 20px;
    margin: 20px 90px;
    padding: 5px;
}

@mixin h1_600px {
    font-size: 25px;
    margin: 20px 180px;
    padding: 5px;
}

@mixin h1_768px {
    font-size: 25px;
    margin: 20px 210px;
    padding: 5px;
}

@mixin h1_1200px {
    font-size: 30px;
    margin: 20px 350px;
    padding: 5px;
}

@mixin acordiones {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/*MEDIA QUERIES*/

/*MEDIA DE 1200 PX*/
@media (max-width: 1200px) and (min-width:769px) {
    
    /*FOOTER*/
        #footerBanner {
            align-content: center;
            .footerBanner__redes {
                flex-wrap: wrap;
                align-content: center;
                padding: 5px;
                margin: 0px;
            }
    
            .fa-brands {
                padding: 5px;
            }
    
            .footerBanner-logo__img {
                margin: 0px;
                @include sizes(140px , 80px );
                padding: 8px;
            }
    
            .footerBanner__fan {
                display: flex;
                align-items: center;
                justify-content: center;
                @include sizes( 180px , 60px );
                font-size: 20px;
                padding: 10px;
            }
        }
    
    /*INDEX*/
        #imagenPortada {
            .goldenIndex {
                height: 500px;
            }
        
            .goldenIndex__video {
                @include sizes( 100% , 500px )
            }
        }
    
        #bannerPages {
            justify-content: center;
            margin: 5px;
            margin-top: 40px;
            gap: 10px;
        
            .card {
                @include sizes( 300px , 500px);
                padding: 10px;
            }
        
            .card-body {
                padding: 10px;
            }   
        
            .card-img-top {
                @include sizes( 260px, 300px )
            }
        
            .bannerPages__titulo {
                font-size: 25px;
            }
        
            .bannerPages__text {
                font-size: 20px;
            }
        
            .btn-primary {
                font-size: 20px;
            }
        }
    
        #banner-index__card {
            padding: 0 20px;
            margin-bottom: 20px;
        }
    
        #carouselCalendario{
            .carouselCalendario__title {
                font-size: 30px;
                margin-bottom: 15px;
                margin-top: 20px;
            }
        }
    

    /*PAGINA HISTORIA*/
        #historiaLogos {
            .historiaLogos__h1 {
                @include h1_1200px;
            }
    
            .historiaLogos__p {
                font-size: 25px;
                margin: 25px;
            }
        }
    
        #historiaImagenes {
            flex-wrap: wrap;
            margin-bottom: 20px;
            @include sizes( auto , auto );
    
            .historia-img__banner {
                @include sizes( 400px , 200px );
            }
        }   
    
        #acordionLogos {
            margin: 20px;
            .accordionTitle {
                @include h1_1200px;
            }
    
            .accordion-body {
                @include acordiones;
            }
    
            .accordion-button {
                font-size: 25px;
            }
    
            .accordioExample__img {
                @include sizes( 200px, 180px);
                padding: 10px;
            }
    
            .accordionLogo__explicacion {
                font-size: 20px;
                padding: 5px;
            } 
        }
    
        #historiaActualidad {
            .historiaActualidad__h1 {
                @include h1_1200px;
            }
    
            .historiaActualidad__p {
                font-size: 25px;
                margin: 25px;
            }
        }
    
        #acordionCampeonatos {
            margin: 20px;
            .accordionCampeonato__title {
                @include h1_1200px;
            }
    
            .accordion-button {
                font-size: 25px;
            }
    
            .accordion-body {
                @include acordiones;
            }
    
            .accordioExample__img {
                @include sizes( 200px, 180px);
                padding: 10px;
            }
    
            .accordionCampeonato__explicacion {
                font-size: 20px;
                padding: 5px;
            }
        }
    
        #lideresHistoricos {
            .lideresHistoricos__h1 {
                @include h1_1200px;
            }
    }
    
        #lideres__cards {
            .card-title {
                font-size: 25px;
            }
    
            .card-text {
                font-size: 25px;
            }
    
            .list-group-item {
                font-size: 25px;
            }
    }
    
    /*PAGINA EQUIPO*/
        #banner-equipo {
            .banner-equipo__title {
                @include h1_1200px;
            }
        }
    
    /*PAGINA FUNDACION*/
        #fundacion__banner {
            .fundacion-banner__img {
                height: 350px;
            }
    
            .fundacion-banner__title {
                font-size: 40px;
                margin-top: 120px;
            }
        }
    
        #fundacion__text {
            margin: 0px;
            .fundacion-body__text {
                font-size: 25px;
                margin: 25px;
            }
        }
    
        #programas__banner {
            .programas__title {
                @include h1_1200px;
            }
        }
    
        #card__programas {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            padding: 10px;
            .card-body {
                font-size: 15px;
            }
    
            .card-title {
                font-size: 25px;
            }
        }
    
    /*PAGINA ESTADIO*/
        #estadio__banner {
            .estadio-banner__title {
                @include h1_1200px;
            }
    
            .estadio-banner__body {
                font-size: 25px;
                margin: 25px;
            }
    
            .estadio-video {
                @include sizes( 700px , 400px )
            }
        }
    
        #estadio-parte2 {
            .estadio-parte2__text {
                font-size: 25px;
                margin: 25px;
            }
        }   
    
        #ubicacion__banner {
            margin: 30px 100px;
        }
    
        #uniformes__banner {
            .uniformes-banner__title {
                @include h1_1200px;
            }
    
            .uniformes-banner__body {
                font-size: 25px;
                margin: 25px;
            }
    
            .uniformes-banner__body2 {
                font-size: 25px;
                margin: 25px;
            }
        }
    
    /*PAGINA HAZTE FAN*/
        #banner__bienvenida {
            .bannerBienvenida__title {
                @include h1_1200px;
            }
    
            .bannerBienvenida__body {
                font-size: 25px;
            }
        }
    }

/*MEDIA DE 768 PX*/
@media (max-width: 768px) and (min-width:601px) {
    /*FOOTER*/
        #footerBanner {
            align-content: center;
            .footerBanner__redes {
                flex-wrap: wrap;
                align-content: center;
                padding: 5px;
                margin: 0px;
            }
    
            .fa-brands {
                padding: 5px;
            }
    
            .footerBanner-logo__img {
                margin: 0px;
                @include sizes(120px , 80px );
                padding: 8px;
            }
    
            .footerBanner__fan {
                display: flex;
                align-items: center;
                justify-content: center;
                @include sizes( 140px , 50px );
                font-size: 15px;
                padding: 10px;
            }
        }
    
    /*INDEX*/
        #imagenPortada {
            .goldenIndex {
                height: 300px;
            }
        
            .goldenIndex__video {
                @include sizes( 100% , 300px )
            }
        }
    
        #bannerPages {
            justify-content: center;
            margin-top: 40px;
            gap: 30px;
        
            .card {
                @include sizes( 300px , 500px);
                padding: 10px;
            }
        
            .card-body {
                padding: 10px;
            }
        
            .card-img-top {
                @include sizes( 260px, 300px )
            }
        
            .bannerPages__titulo {
                font-size: 25px;
            }
        
            .bannerPages__text {
                font-size: 20px;
            }
        
            .btn-primary {
                font-size: 20px;
            }
        }

        #banner-index__card {
            margin-bottom: 20px;
        }
    
        #carouselCalendario{
            .carouselCalendario__title {
                font-size: 25px;
                margin-bottom: 15px;
                margin-top: 20px;
            }
        }
    
    /*PAGINA HISTORIA*/
        #historiaLogos {
            .historiaLogos__h1 {
                @include h1_768px;
            }
    
            .historiaLogos__p {
                font-size: 20px;
                margin: 20px;
            }
        }
    
        #historiaImagenes {
            flex-wrap: wrap;
            margin-bottom: 20px;
            @include sizes( auto , auto );
    
            .historia-img__banner {
                @include sizes( 300px , 200px );
            }
        }   
    
        #acordionLogos {
            margin: 20px;
            .accordionTitle {
                @include h1_768px;
            }
    
            .accordion-body {
                @include acordiones;
            }
    
            .accordion-button {
                font-size: 20px;
            }
    
            .accordioExample__img {
                @include sizes( 200px, 180px);
                padding: 10px;
            }
    
            .accordionLogo__explicacion {
                font-size: 20px;
                padding: 5px;
            } 
        }
    
        #historiaActualidad {
            .historiaActualidad__h1 {
                @include h1_768px;
            }
    
            .historiaActualidad__p {
                font-size: 20px;
                margin: 20px;
            }
        }
    
        #acordionCampeonatos {
            margin: 20px;
            .accordionCampeonato__title {
                @include h1_768px;
            }
    
            .accordion-button {
                font-size: 20px;
            }
    
            .accordion-body {
                @include acordiones;
            }
    
            .accordioExample__img {
                @include sizes( 200px, 180px);
                padding: 10px;
            }
    
            .accordionCampeonato__explicacion {
                font-size: 20px;
                padding: 5px;
            }
        }
    
        #lideresHistoricos {
            .lideresHistoricos__h1 {
                @include h1_768px;
            }
        }
    
        #lideres__cards {
            .card-title {
                font-size: 20px;
            }
    
            .card-text {
                font-size: 20px;
            }
    
            .list-group-item {
                font-size: 20px;
            }
        }
    
    /*PAGINA EQUIPO*/
        #banner-equipo {
            .banner-equipo__title {
                @include h1_768px;
            }
        }
    
    /*PAGINA FUNDACION*/
        #fundacion__banner {
            .fundacion-banner__img {
                height: 250px;
            }
    
            .fundacion-banner__title {
                font-size: 30px;
                margin-top: 80px;
            }
        }
    
        #fundacion__text {
            margin: 0px;
            .fundacion-body__text {
                font-size: 20px;
                margin: 20px;
            }
        }
    
        #programas__banner {
            .programas__title {
                @include h1_768px;
            }
        }
    
        #card__programas {
            display: flex;
            align-items: center;
            justify-content: center;
            .card-body {
                font-size: 20px;
            }
    
            .card-title {
                font-size: 25px;
            }
        }
    
    /*PAGINA ESTADIO*/
        #estadio__banner {
            .estadio-banner__title {
                @include h1_768px;
            }
    
            .estadio-banner__body {
                font-size: 20px;
                margin: 20px;
            }
    
            .estadio-video {
                @include sizes( 700px , 300px )
            }
        }
    
        #estadio-parte2 {
            .estadio-parte2__text {
                font-size: 20px;
                margin: 20px;
            }
        }   
        
        #ubicacion__banner {
            margin: 30px;
        }

        #uniformes__banner {
            .uniformes-banner__title {
                @include h1_768px;
            }
    
            .uniformes-banner__body {
                font-size: 20px;
                margin: 20px;
            }
    
            .uniformes-banner__body2 {
                font-size: 20px;
                margin: 20px;
            }
        }
    
    /*PAGINA HAZTE FAN*/
        #banner__bienvenida {
            .bannerBienvenida__title {
                @include h1_768px;
            }
    
            .bannerBienvenida__body {
                font-size: 20px;
            }
        }
    
        #formulario__fan {
            .formulario__body {
                font-size: 20px;
            }
        }
    }

/*MEDIA DE 600 PX*/
@media (max-width: 600px) and (min-width:481px) {

    /*FOOTER*/
        #footerBanner {
            align-content: center;
            .footerBanner__redes {
                flex-wrap: wrap;
                align-content: center;
                padding: 5px;
                margin: 0px;
            }
        
            .fa-brands {
                padding: 3px;
            }
        
            .footerBanner-logo__img {
                margin: 0px;
                @include sizes(90px , 50px );
                padding: 8px;
            }
        
            .footerBanner__fan {
                display: flex;
                align-items: center;
                justify-content: center;
                @include sizes( 100px , 30px );
                font-size: 10px;
                padding: 5px;
            }
        }
        
    /*INDEX*/
        #imagenPortada {
            .goldenIndex {
                height: 300px;
            }
            
            .goldenIndex__video {
                @include sizes( 100% , 300px )
            }
        }
        
        #bannerPages {
            justify-content: center;
            margin-top: 40px;
            
            .card {
                @include sizes( 300px , 500px);
                padding: 10px;
            }
            
            .card-body {
                padding: 10px;
            }
            
            .card-img-top {
                @include sizes( 260px, 300px )
            }
            
            .bannerPages__titulo {
                font-size: 20px;
            }
            
            .bannerPages__text {
                font-size: 18px;
            }
            
            .btn-primary {
                font-size: 18px;
            }
        }
        
        #carouselCalendario{
            .carouselCalendario__title {
                font-size: 25px;
                margin-bottom: 15px;
                margin-top: 20px;
            }
        }

        #banner-index__card {
            margin-bottom: 20px;
        }
        
    /*PAGINA HISTORIA*/
        #historiaLogos {
            .historiaLogos__h1 {
                @include h1_600px;
            }
        
            .historiaLogos__p {
                font-size: 20px;
                margin: 20px;
            }
        }
        
        
        #historiaImagenes {
            flex-wrap: wrap;
            margin-bottom: 20px;
            @include sizes( auto , auto );
        
            .historia-img__banner {
                @include sizes( 250px , 150px );
            }
        }
        
        
        #acordionLogos {
            margin: 20px;
            .accordionTitle {
                @include h1_600px;
            }
        
            .accordion-body {
                @include acordiones;
            }
        
            .accordion-button {
                font-size: 20px;
            }
        
            .accordioExample__img {
                @include sizes( 200px, 180px);
                padding: 10px;
            }
        
            .accordionLogo__explicacion {
                font-size: 20px;
                padding: 5px;
            } 
        }
        
        #historiaActualidad {
            .historiaActualidad__h1 {
                @include h1_600px();
            }
        
            .historiaActualidad__p {
                font-size: 20px;
                margin: 20px;
            }
        }
        
        #acordionCampeonatos {
            margin: 20px;
            .accordionCampeonato__title {
                    @include h1_600px;
            }
        
            .accordion-button {
                font-size: 20px;
            }
        
            .accordion-body {
                @include acordiones;
            }
        
            .accordioExample__img {
                @include sizes( 200px, 180px);
                padding: 10px;
            }
        
            .accordionCampeonato__explicacion {
                font-size: 20px;
                padding: 5px;
            }
        }
        
        #lideresHistoricos {
            .lideresHistoricos__h1 {
                @include h1_600px;
            }
        }
        
        #lideres__cards {
            .card-title {
                font-size: 20px;
            }
        
            .card-text {
                font-size: 20px;
            }
        
            .list-group-item {
                font-size: 20px;
            }
        }
        
    /*PAGINA EQUIPO*/
        #banner-equipo {
            .banner-equipo__title {
                @include h1_600px;
            }
        }
        
    /*PAGINA FUNDACION*/
        #fundacion__banner {
            .fundacion-banner__img {
                height: 200px;
            }
        
            .fundacion-banner__title {
                font-size: 30px;
                margin-top: 60px;
            }
        }
        
        #fundacion__text {
            margin: 0px;
            .fundacion-body__text {
                font-size: 20px;
                margin: 20px;
            }
        }
        
        #programas__banner {
            .programas__title {
                @include h1_600px;
            }
        }
        
        #card__programas {
            .card-body {
                font-size: 18px;
            }
        
            .card-title {
                font-size: 20px;
            }
        }
        
    /*PAGINA ESTADIO*/
        #estadio__banner {
            .estadio-banner__title {
                @include h1_600px;
            }
        
            .estadio-banner__body {
                font-size: 20px;
                margin: 20px;
            }
        
            .estadio-video {
                @include sizes( 500px , 200px )
            }
        }
        
        #estadio-parte2 {
            .estadio-parte2__text {
                font-size: 20px;
                margin: 20px;
            }
        }   
        
        #uniformes__banner {
            .uniformes-banner__title {
                @include h1_600px;
            }
        
            .uniformes-banner__body {
                font-size: 20px;
                margin: 20px;
            }
        
            .uniformes-banner__body2 {
                font-size: 20px;
                margin: 20px;
            }
        }
    
    /*PAGINA HAZTE FAN*/
        #banner__bienvenida {
            .bannerBienvenida__title {
                @include h1_600px;
        }
    
            .bannerBienvenida__body {
                font-size: 18px;
            }
        }
    
        #formulario__fan {
            .formulario__body {
                font-size: 18px;
            }
        }
    }

/*MEDIA DE 480 PX*/
@media (max-width: 480px) and (min-width:321px) {


    /*FOOTER*/
        #footerBanner {
            align-content: center;
            .footerBanner__redes {
                flex-wrap: wrap;
                align-content: center;
                padding: 5px;
                margin: 0px;
            }
    
            .fa-brands {
                padding: 3px;
            }
    
            .footerBanner-logo__img {
                margin: 0px;
                @include sizes(90px , 50px );
                padding: 8px;
            }
    
            .footerBanner__fan {
                display: flex;
                align-items: center;
                justify-content: center;
                @include sizes( 100px , 30px );
                font-size: 10px;
                padding: 5px;
            }
        }
    
    
    /*INDEX*/
        #imagenPortada {
            .goldenIndex {
                background-image: url(../images/index/backgroundvd.jpeg);
                height: 300px;
            }
        
            .goldenIndex__video {
                @include sizes( 100% , 300px )
            }
        }
    
        #bannerPages {
            justify-content: center;
            margin-top: 40px;
        
            .card {
                @include sizes( 300px , 500px);
                padding: 10px;
            }
        
            .card-body {
                padding: 10px;
            }
        
            .card-img-top {
                @include sizes( 260px, 300px )
            }
        
            .bannerPages__titulo {
                font-size: 20px;
            }
        
            .bannerPages__text {
                font-size: 18px;
            }
        
            .btn-primary {
                font-size: 18px;
            }
        }

        #banner-index__card {
            margin-bottom: 20px;
        }
    
        #carouselCalendario{
            .carouselCalendario__title {
                font-size: 20px;
                margin-bottom: 15px;
                margin-top: 20px;
            }
        }
        
    
    /*PAGINA HISTORIA*/
        #historiaLogos {
            .historiaLogos__h1 {
                @include h1_480px;
            }
    
            .historiaLogos__p {
                font-size: 18px;
                margin: 20px;
            }
        }
    
    
        #historiaImagenes {
            flex-wrap: wrap;
            margin-bottom: 20px;
            @include sizes( auto , auto );
    
            .historia-img__banner {
                @include sizes( 300px , 200px );
            }
        }
    
    
        #acordionLogos {
            margin: 20px;
            .accordionTitle {
                @include h1_480px;
            }
    
            .accordion-body {
                @include acordiones;
            }
    
            .accordion-button {
                font-size: 18px;
            }
    
            .accordioExample__img {
                @include sizes( 200px, 180px);
                padding: 10px;
            }
    
            .accordionLogo__explicacion {
                font-size: 18px;
                padding: 5px;
            } 
        }
    
        #historiaActualidad {
            .historiaActualidad__h1 {
                @include h1_480px;
            }
    
            .historiaActualidad__p {
                font-size: 18px;
                margin: 20px;
            }
        }
    
        #acordionCampeonatos {
            margin: 20px;
            .accordionCampeonato__title {
                @include h1_480px;
            }
    
            .accordion-button {
                font-size: 18px;
            }
    
            .accordion-body {
                @include acordiones;
            }
    
            .accordioExample__img {
                @include sizes( 200px, 180px);
                padding: 10px;
            }
    
            .accordionCampeonato__explicacion {
                font-size: 18px;
                padding: 5px;
            }
        }
    
        #lideresHistoricos {
            .lideresHistoricos__h1 {
                @include h1_480px;
            }
        }
    
        #lideres__cards {
            .card-title {
                font-size: 15px;
            }
    
            .card-text {
                font-size: 15px;
            }
    
            .list-group-item {
                font-size: 15px;
            }
        }
    
    /*PAGINA EQUIPO*/
        #banner-equipo {
            .banner-equipo__title {
                @include h1_480px();
            }
        }
    
    /*PAGINA FUNDACION*/
        #fundacion__banner {
            .fundacion-banner__img {
                height: 200px;
            }
    
            .fundacion-banner__title {
                font-size: 30px;
                margin-top: 60px;
            }
        }
    
        #fundacion__text {
            margin: 0px;
            .fundacion-body__text {
                font-size: 18px;
                margin: 20px;
            }
        }
    
        #programas__banner {
            .programas__title {
                @include h1_320px;
            }
        }
    
        #card__programas {
            .card-body {
                font-size: 18px;
            }
    
            .card-title {
                font-size: 20px;
            }
        }
    
    /*PAGINA ESTADIO*/
        #estadio__banner {
            .estadio-banner__title {
                @include h1_480px;
            }
    
            .estadio-banner__body {
                font-size: 18px;
                margin: 20px;
            }
    
            .estadio-video {
                @include sizes( 350px , 200px )
            }
        }
    
        #estadio-parte2 {
            .estadio-parte2__text {
                font-size: 18px;
                margin: 20px;
            }
        }   

        #ubicacion__banner {
            margin: 20px;

            .ubicacion-banner__maps {
                width: 280px;
            }
        }
    
        #uniformes__banner {
            .uniformes-banner__title {
                @include h1_480px;
            }
    
            .uniformes-banner__body {
                font-size: 18px;
                margin: 20px;
            }
    
            .uniformes-banner__body2 {
                font-size: 18px;
                margin: 20px;
            }
        }
    
        /*PAGINA HAZTE FAN*/
        #banner__bienvenida {
            .bannerBienvenida__title {
                @include h1_480px;
        }
    
            .bannerBienvenida__body {
                font-size: 18px;
            }
        }
    
        #formulario__fan {
            .formulario__body {
                font-size: 18px;
            }
        }
    }

/*MEDIA DE 320 PX*/
@media (max-width: 320px) {
    
    /*FOOTER*/
    #footerBanner {
        align-content: center;
        .footerBanner__redes {
            flex-wrap: wrap;
            align-content: center;
            padding: 5px;
            margin: 0px;
        }

        .fa-brands {
            padding: 3px;
        }

        .footerBanner-logo__img {
            margin: 0px;
            @include sizes(70px , 50px );
            padding: 3px;
        }

        .footerBanner__fan {
            display: flex;
            align-items: center;
            justify-content: center;
            @include sizes( 100px , 30px );
            font-size: 10px;
            padding: 5px;


        }
    }

    
    /*INDEX*/
    #imagenPortada {
        .goldenIndex {
            background-image: url(../images/index/backgroundvd.jpeg);
            height: 250px;
        }

        .goldenIndex__video {
            @include sizes( 100% , 100% )
        }
    }
    
    #bannerPages{
        margin-top: 20px;
        .card {
            @include sizes( 300px , 470px);
            padding: 10px;
        }

        .card-body {
            padding: 10px;
        }

        .card-img-top {
        @include sizes( 230px, 300px )
        }

        .bannerPages__titulo {
            font-size: 20px;
        }

        .bannerPages__text {
            font-size: 15px;
        }

        .btn-primary {
            font-size: 15px;
        }
    }

    #banner-index__card {
        padding: 0 20px;
        margin-bottom: 10px;

        .banner-inseason__title {
            font-size: 20px;
        }

        .banner-inseason__text {
            font-size: 18px;
        }

        .banner-allstar__title {
            font-size: 20px;
        }

        .banner-allstar__text {
            font-size: 18px;
        }
    }

    #carouselCalendario{
        .carouselCalendario__title {
            font-size: 20px;
            margin-bottom: 15px;
        }
    }

    #carouselExampleIndicators {
        .carousel-calendario__img {
            padding: 15px;
        }
    }  


/*PAGINA HISTORIA*/
    #historiaLogos {
        .historiaLogos__h1 {
            @include h1_320px;
    }

        .historiaLogos__p {
            font-size: 18px;
            margin: 18px;
        }
}

    #historiaImagenes {
        flex-wrap: wrap;
        margin-bottom: 20px;
        .historia-img__banner {
            @include sizes( 250px , 150px )
        }
        
    }

    #acordionLogos {
        margin: 20px;
        .accordionTitle {
            @include h1_320px;
        }

        .accordion-body {
            @include acordiones;
        }

        .accordion-button {
            font-size: 18px;
        }

        .accordioExample__img {
            @include sizes( 200px, 180px);
            padding: 10px;
        }

        .accordionLogo__explicacion {
            font-size: 18px;
            padding: 5px;
        } 
    }

    #historiaActualidad {
        .historiaActualidad__h1 {
            @include h1_320px;
        }

        .historiaActualidad__p {
            font-size: 18px;
            margin: 18px;
        }
    }

    #acordionCampeonatos {
        margin: 20px;

        .accordionCampeonato__title {
            @include h1_320px;
        }

        .accordion-button {
            font-size: 18px;
        }

        .accordion-body {
            @include acordiones;
        }

        .accordioExample__img {
            @include sizes( 200px, 180px);
            padding: 10px;
        }

        .accordionCampeonato__explicacion {
            font-size: 18px;
            padding: 5px;
        }


    }

    #lideresHistoricos {
        .lideresHistoricos__h1 {
            @include h1_320px;
        }
    }

    #lideres__cards {
        .card-title {
            font-size: 15px;
        }

        .card-text {
            font-size: 15px;
        }

        .list-group-item {
            font-size: 15px;
        }
    }

/*PAGINA EQUIPO*/
    #banner-equipo {
        .banner-equipo__title {
            @include h1_320px;
        }
    }

/*PAGINA FUNDACION*/
    #fundacion__banner {
        .fundacion-banner__img {
            height: 200px;
        }

        .fundacion-banner__title {
            font-size: 30px;
            margin-top: 60px;
        }
    }

    #fundacion__text {
        margin: 0px;
        .fundacion-body__text {
            font-size: 18px;
            margin: 18px;
        }
    }

    #programas__banner {
        .programas__title {
            @include h1_320px;
        }
    }

    #card__programas {
        .card-body {
            font-size: 18px;
        }

        .card-title {
            font-size: 20px;
        }
    }

/*PAGINA ESTADIO*/
    #estadio__banner {
        .estadio-banner__title {
            @include h1_320px;
        }

        .estadio-banner__body {
            font-size: 18px;
            margin: 18px;
        }

        .estadio-video {
            @include sizes( 280px , 200px )
        }
    }

    #estadio-parte2 {
        .estadio-parte2__text {
            font-size: 18px;
            margin: 18px;
        }
    }

    #ubicacion__banner {
        margin: 20px;
        .ubicacion-banner__maps {
            @include sizes( 230px , 240px )
        }

        .ubicacion-banner__text {
            font-size: 18px;
        }
    }

    #uniformes__banner {
        .uniformes-banner__title {
            @include h1_320px;
        }

        .uniformes-banner__body {
            font-size: 18px;
            margin: 18px;
        }

        .uniformes-banner__body2 {
            font-size: 18px;
            margin: 18px;
        }
    }

        /*PAGINA HAZTE FAN*/
        #banner__bienvenida {
            .bannerBienvenida__title {
                @include h1_320px;
        }
    
            .bannerBienvenida__body {
                font-size: 18px;
            }
        }
    
        #formulario__fan {
            .formulario__body {
                font-size: 18px;
            }
        }
}