/*MIXINS FORMULARIO*/

@mixin boxes-style {
    border-color: black;
    border-style: solid;
    background-color: #e4c145;
}

@mixin font-style {
    font-family: 'Oswald', sans-serif;
    color: black;
}

/*FORMULARIO DE FAN*/

#banner__bienvenida {
    .bannerBienvenida__title {
        @include boxes-style;
        @include font-style;
        text-align: center;
        padding: 15px;
        font-weight: bold;
        margin: 0 400px;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .bannerBienvenida__body {
        margin: 40px;
        text-align: center;
        font-family: "Barlow Condensed", sans-serif;
        font-size: 30px;
        color: white;
    }
}

#formulario__fan {
    display: flex;
    flex-direction: column;
    margin: 0 50px;
    padding: 20px;
    margin-bottom: 40px;
    .formulario__body {
        font-family: 'Oswald', sans-serif;
        font-size: 25px;
        color: white;
    }

    .formulario__input{
        font-size: 20px;
    }
    .formulario__select {
        font-size: 20px;
        margin-bottom: 40px;
    }

    .modal-title{
        @include font-style;
    }
    .modal-body {
        @include font-style;
    }

    .button__a {
        color: white;
        text-decoration: none;
    }

}