/*MIXINS ACORDIONES*/

@mixin image-radio {
    border-radius: 50%;
}

@mixin sizes ($width , $height) {
    width: $width;
    height: $height;
}

@mixin flex-design {
    display: flex;
    justify-content: center;
}

/*ACORDION LOGOS*/

#acordionLogos{
    margin: 40px;

    .accordionTitle{
        text-align: center;
        padding: 20px;
        font-family: 'Oswald', sans-serif;
        font-weight: bold;
        color: black;
        background-color: #e4c145;
        border-color: black;
        border-style: solid;
        margin: 0 400px;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .accordion-button{
        font-weight: bold;
        font-size: 25px;
        color: black;
        font-family: 'Oswald', sans-serif;
        background-color: #e4c145;
    }
    
    .accordioExample__img {
        @include sizes(auto , 250px);
        padding: 30px;
        transition: 1s;
            &:hover {
                transform: scale(1.1, 1.1);
            }
    }

    .accordion-body{
        background-color: black;
        @include flex-design;
    }

    .accordionLogo__img1 {
        @include image-radio;
    }
    
    .accordionLogo__img2{
        @include image-radio;
    }

    .accordionLogo__explicacion {
        font-family: "Barlow Condensed", sans-serif;
        font-size: 25px;
        text-align: center;
        color: white;
        padding: 30px;
    }
}

#acordionCampeonatos {
    margin: 40px;

    .accordionCampeonato__title{
        text-align: center;
        padding: 20px;
        font-family: 'Oswald', sans-serif;
        font-weight: bold;
        color: black;
        background-color: #e4c145;
        border-color: black;
        border-style: solid;
        margin: 0 400px;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .accordion-button{
        font-weight: bold;
        font-size: 25px;
        color: black;
        font-family: 'Oswald', sans-serif;
        background-color: #e4c145;
    }
    
    .accordioExample__img {
        @include sizes(auto , 250px);
        padding: 30px;
        transition: 1s;
            &:hover {
                transform: scale(1.1, 1.1);
            }
    }

    .accordion-body{
        background-color: black;
        @include flex-design;
    }

    .accordionCampeonato__explicacion {
        font-family: "Barlow Condensed", sans-serif;
        font-size: 25px;
        text-align: center;
        color: white;
        padding: 30px;
    }
}