/*MIXIN HISTORIA*/

@mixin text-design {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 30px;
    text-align: center;
    color: white;
}

@mixin flex-design {
    display: inline-block;
    align-items: center;
    justify-content: center;
}

@mixin sizes ($width , $height) {
    width: $width;
    height: $height;
}

@mixin boxes-style {
    border-color: black;
    border-style: solid;
}


/*ESTILO HISTORIA*/

#historiaLogos {
        @include flex-design;

    .historiaLogos__h1 {
        text-align: center;
        padding: 15px;
        font-family: 'Oswald', sans-serif;
        font-weight: bold;
        color: black;
        background-color: #e4c145;
        @include boxes-style;
        margin: 0 400px;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .historiaLogos__p {
        @include text-design;
        margin-bottom: 30px;
        margin: 20px;
    }
}

/*HISTORIA IMAGENES*/

#historiaImagenes {
    display: flex;
    justify-content: center;
    width: auto;
    height: 350px;
    padding: 20px;
    margin-bottom: 70px;
}

/*HISTORIA ACTUALIDAD*/

#historiaActualidad {
    display: inline-block;
    align-items: center;
    justify-content: center;

    .historiaActualidad__h1 {
        text-align: center;
        padding: 20px;
        font-family: 'Oswald', sans-serif;
        font-weight: bold;
        color: black;
        background-color: #e4c145;
        @include boxes-style;
        margin: 0 400px;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .historiaActualidad__p{
        margin: 40px;
        @include text-design;
    }
}