/*MIXINS FUNDACION*/

@mixin text-design {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 30px;
    text-align: center;
    color: white;
}

@mixin boxes-style {
    border-color: black;
    border-style: solid;
}


/*FUNDACION*/

#fundacion__banner {
    align-items: center;
    .fundacion-banner__img {
        width: 100%;
        height: 350px;
        opacity: 0.26;
    }

    .fundacion-banner__title {
        font-family: 'Oswald', sans-serif;
        font-size: 50px;
        color: white;
        font-weight: bold;
        text-align: center;
        margin-top: 100px;
    }
}

#fundacion__text {
    margin: 40px;
    .text__parteI {
        @include text-design;
        margin-bottom: 30px
    }

    .texte__parteII {
        @include text-design;
    }
}

#programas__banner {
    .programas__title {
        text-align: center;
        padding: 15px;
        font-family: 'Oswald', sans-serif;
        font-weight: bold;
        color: black;
        background-color: #e4c145;
        @include boxes-style;
        margin: 0 400px;
        margin-top: 20px;
        margin-bottom: 40px;
    }
}