/*MIXINS CARDS INDEX*/
@mixin flex-desing {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin sizes ($width , $height) {
    width: $width;
    height: $height;
}


/*INDEX TARJETAS*/  
#bannerPages {
    @include flex-desing;
    margin: 30px;
    margin-top: 70px;
    flex-wrap: wrap;
    gap: 10px;

    .card {
        background-color: #e4c145;
        padding: 20px;
        border-color: black;
        border-style: solid;
        border-radius: 20px;
    }

    .card-img-top {
        @include sizes(245px , 290px);
        border-radius: 20px;
        transition: 1s;

            &:hover {
                transition: 1s;
                transform: scale(1.1, 1.1);
            }
    }

    .bannerPages__titulo{
        font-family: 'Oswald', sans-serif;
        font-size: 25px;
        color: black;
        font-weight: 1000;
        text-align: center;
    }
    

    .bannerPages__text {
        font-family: "Barlow Condensed", sans-serif;
        font-size: 18px;
        color: black;
        font-weight: bold;
    }
}

.btn-primary {
    background-color: #1c389b;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 18px;
    font-weight: bold;
    border-color: black;
    border-radius: 10px;
}