/*MIXINS INDEX*/
@mixin sizes ($width , $height) {
  width: $width;
  height: $height;
}

/*ESTILO DEL MAIN*/

#main {
    @include sizes(auto , auto);
}

/*ESTILO INDEX*/

#imagenPortada {
  .goldenIndex {
      background-image: url(../images/index/plano-lejano-vista-ciudad-san-francisco-noche.jpg);
      background-position: center;
      background-attachment:local;
      background-size: cover;
      height: 500px;
  }

  .goldenIndex__video {
      @include sizes(100% , 500px);
  }
}


/*INDEX INSEASON TOURNAMENT - ALL STAR GAME*/

#banner-index__card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0px 50px;
  gap: 30px;
  margin: 50px 20px;

    .banner-inseason__card {
      background-color: black;
      border: #e4c145;
      border-style: solid;

        &:hover {
          box-shadow: 10px 15px 20px rgba(0, 34, 254, 0.463);
          transform: scale(1.1, 1.1);
        }
    }

    .banner-inseason__title {
      font-family: "Barlow Condensed", sans-serif;
      text-align: center;
      font-size: 25px;
      color: white;
      padding: 8px;
    }

    .banner-inseason__text {
      font-family: "Barlow Condensed", sans-serif;
      text-align: center;
      font-size: 20px;
      color: white;
      padding: 4px;
    }


    .banner-allstar__card {
      background-color: black;
      border: #e4c145;
      border-style: solid;

      &:hover {
        box-shadow: 10px 15px 20px rgba(0, 34, 254, 0.463);
        transform: scale(1.1, 1.1);
      }
    }

    .banner-allstar__title {
      font-family: "Barlow Condensed", sans-serif;
      text-align: center;
      font-size: 25px;
      color: white;
      padding: 8px;
    }

    .banner-allstar__text {
      font-family: "Barlow Condensed", sans-serif;
      text-align: center;
      font-size: 20px;
      color: white;
      padding: 4px;
    }
}


  /*INDEX CALENDARIO*/
#carouselCalendario { 
    .carouselCalendario__title {
      text-align: center;
      font-family: 'Oswald', sans-serif;
      font-size: 40px;
      font-weight: bold ;
      color: #e4c145;
  }
  }


#carouselExampleIndicators {
    .carousel-calendario__img {
      padding: 25px;
  }
}  